.enquiry-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 400px; /* Increased width */
    padding: 30px; /* Increased padding */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  input[type="text"],
  input[type="email"] {
    padding: 12px; /* Slightly increased padding */
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus {
    border-color: #007bff;
    outline: none;
  }
  
  textarea {
    padding: 12px; /* Slightly increased padding */
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: vertical;
    min-height: 120px; /* Increased minimum height */
  }
  
  textarea:focus {
    border-color: #007bff;
    outline: none;
  }
  
input[type="submit"] {
  background-color: transparent;
  color: #28a745;
  border: 1px solid #28a745;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top: 20px; /* Adjust margin as needed */
}

input[type="submit"]:hover {
  background-color: #28a745;
  color: #fff;
}
  
  .error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
  }
  